/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black; /* Set background to black */
    color: white; /* Set text color to white */
}

h1 {
    font-size: 56px;
    margin-left: 20px;
    font-family: monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white; /* Ensure nav background matches body */
    font-family: monospace;
    font-size: x-large;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    color: black; /* Link color should be white */
}

li a:hover {
    background-color: darkgray; /* Change hover color */
}

img {
    height: 700px;
    width: 1424px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

main {
    margin-left: 20px;
}

.home-icon {
    height: 40px; 
    width: 40px;  
}

#flashcard-container {
    display: flex;
    flex-wrap: wrap;
}

.flashcard {
    width: 200px;
    height: 300px;
    margin: 10px;
    perspective: 1000px;
    position: relative;
}

.flashcard .front, .flashcard .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fbf8f8;
    border-radius: 10px;
    transition: transform 0.6s;
}

.flashcard .back {
    transform: rotateY(180deg);
}

.flashcard.flipped .front {
    transform: rotateY(180deg);
}

.flashcard.flipped .back {
    transform: rotateY(0);
}


