h1 {
    color:black;
    font-size: 56px;
}
html, body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(36, 110, 21);
    font-family: monospace;
    font-size: x-large;
    width: 100%;
    right: 0;
    left: 0;

 }
 nav{
    margin: 0;
    width: 100;
    right: 0;
    left: 0;

 }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
  
  /* Change the link color to green on hover */
li a:hover {
    background-color: rgb(43, 177, 50);
}
body {
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
img {
    height: 700px;
    width: 1424px;
    margin: 0 auto; /* Center horizontally */
    padding: 0;
    display: block; /* Ensures the margin auto works */
}
h1 {
    margin-left: 20px;
    font-family: monospace;
}
h2 {
    margin-left: 20px;
    font-family: monospace;
}